PANELS=pol

PANEL_pol_NAME=🇵🇱 لهستان
PANEL_pol_URL=https://pnl.kenznum.ir:23619/...
PANEL_pol_API_TOKEN=YOUR_SECRET_TOKEN
PANEL_pol_INBOUND_ID=2
PANEL_pol_PROTOCOL=vless


PANEL_ir1_NAME=🇮🇷 ایران
PANEL_ir1_URL=https://...
PANEL_ir1_API_TOKEN=YOUR_SECRET_TOKEN
PANEL_ir1_INBOUND_ID=1
PANEL_ir1_PROTOCOL=vless